SERVICE_HOST = 0.0.0.0
SERVICE_PORT = 3000

REDIS_HOST = host.docker.internal
REDIS_PORT = 6379

POSTGRES_USER = postgres
POSTGRES_PASSWORD = your_password
POSTGRES_HOST = host.docker.internal
POSTGRES_PORT = 5432
POSTGRES_DB = you_database_name
POSTGRES_CONNECTION_POOL = 5

PRODUCTION = false