SERVICE_HOST = 0.0.0.0
SERVICE_PORT = 3000

WORKER_ID = 1

BOOTSTRAP_ADMIN =
BOOTSTRAP_ADMIN_PASSWORD =
BOOTSTRAP_ADMIN_EMAIL = test_useradmin@example.com

RUST_LOG=info
MEDIA_ROOT = /app/media
MEDIA_DRIVER = localhost
MEDIA_TEMP_ROOT = /app/temp