
.content {
    background-color: var(--popover);
    color: var(--popover-foreground);
    border-radius: var(--radius-small);
    padding-inline: calc(var(--spacing) * 2);
    padding-block: var(--spacing);
    font-size: var(--text-small);
    opacity: 0;
    transform: scale(.95);

    border: 1px solid color-mix(in oklab, var(--border) 60%, transparent);

    transition: opacity 200ms ease, transform 200ms ease;

    & > [data-component="tooltip-arrow"] {
        fill: var(--popover);
    }
}

.content[data-status="open"] {
    opacity: 1;
    transform: scale(1);
}

.content[data-status="close"] {
    opacity: 0;
    transform: scale(.95);
}