@import "@fontsource/geist-sans/200.css";
@import "@fontsource/geist-sans/300.css";
@import "@fontsource/geist-sans/400.css";
@import "@fontsource/geist-sans/500.css";
@import "@fontsource/geist-sans/600.css";
@import "@fontsource/geist-sans/700.css";
@import "@fontsource/geist-sans/800.css";

:root {
    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-xxl: 1.5rem;
    --font-size-xxxl: 2rem;
    --font-thin: 200;
    --font-extra-light: 300;
    --font-light: 400;
    --font-regular: 500;
    --font-medium: 600;
    --font-semibold: 700;
    --font-bold: 800;

    --text-line-height-xs: 1rem;
    --text-line-height-sm: 1.25rem;
    --text-line-height-md: 1.5rem;
    --text-line-height-lg: 1.75rem;
    --text-line-height-xl: 2rem;
    --text-line-height-xxl: 2.25rem;
    --text-line-height-xxxl: 2.5rem;
}

:root {
    --radius-none: 0px;
    --radius-xs: 4px;
    --radius-sm: 8px;
    --radius-md: 12px;
    --radius-lg: 16px;
    --radius-xl: 24px;
    --radius-xxl: 32px;
    --radius-round: 2147483647px;
}

:root {
    --size-0: 0px;
    --size-4: 4px;
    --size-8: 8px;
    --size-12: 12px;
    --size-16: 16px;
    --size-20: 20px;
    --size-24: 24px;
    --size-32: 32px;
    --size-40: 40px;
    --size-48: 48px;
    --size-64: 64px;
    --size-80: 80px;
    --size-96: 96px;
    --size-128: 128px;
    --size-160: 160px;
    --size-192: 192px;
    --size-xxs: var(--size-4);
    --size-xs: var(--size-8);
    --size-sm: var(--size-12);
    --size-md: var(--size-16);
    --size-lg: var(--size-20);
    --size-xl: var(--size-24);
    --size-xxl: var(--size-32);
    --breakpoint-480: 480px;
    --breakpoint-640: 640px;
    --breakpoint-768: 768px;
    --breakpoint-1024: 1024px;
    --breakpoint-1280: 1280px;
    --breakpoint-1536: 1536px;
    --breakpoint-1800: 1800px;
    --breakpoint-2500: 2500px;
    --breakpoint-xxs: 480px;
    --breakpoint-xs: 640px;
    --breakpoint-sm: 768px;
    --breakpoint-md: 1024px;
    --breakpoint-lg: 1280px;
    --breakpoint-xl: 1536px;
    --breakpoint-xxl: 1800px;
    --breakpoint-max: 2500px;
    --space-0: 0px;
    --space-4: 4px;
    --space-6: 6px;
    --space-8: 8px;
    --space-10: 10px;
    --space-12: 12px;
    --space-16: 16px;
    --space-20: 20px;
    --space-24: 24px;
    --space-26: 26px;
    --space-30: 30px;
    --space-32: 32px;
    --space-40: 40px;
    --space-48: 48px;
    --space-64: 64px;
    --space-80: 80px;
    --space-96: 96px;
    --space-128: 128px;
    --space-160: 160px;
    --space-192: 192px;
    --space-xs: var(--space-8);
    --space-sm: var(--space-12);
    --space-md: var(--space-16);
    --space-lg: var(--space-20);
    --space-xl: var(--space-24);
    --space-xxl: var(--space-32);
}

// Color palette
:root {
    --bg-background: #fafafa;
    --bg-foreground: #0a0a0a;
    --bg-muted: #e3e3e3;
    --bg-muted-foreground: #505050;

    --primary: #000000;
    --primary-foreground: #f2f2f2;

    --brand: #f1f1f1;
    --brand-gradient: linear-gradient(
        90deg,
        #9f2828 0%,
        #d88735 25%,
        #168657 50%,
        #286d9b 75%,
        #572e91 100%
    );

}

:root {
    // Base values
    --background: #fafafa;
    --foreground: #0a0a0a;
    --spacing: 0.25rem;

    --primary: #000000;
    --primary-foreground: #f2f2f2;
    --muted: #e3e3e3;
    --muted-foreground: #505050;

    --icon-blue: #2b93cf;

    --popover: #fff;
    --popover-foreground: #000000;

    --popover-focus-area: #d6d6d6;
    --border: #b0b0b0;
    --input: #e5e5e5;
    --color-destructive: #ff6466;
    --color-destructive-foreground: #e32324;
    --success: #83ff64;
    --success-foreground: #5de323;
    --warning: #ffaa64;
    --warning-foreground: #e38323;

    --text-neutral: #0a0a0a;
    --text-muted: #505050;
    --text-link: #3a5ba3;

    // Fonts
    --text-base: 1rem;
    --text-base--line-height: calc(1.5 / 1);
    --text-extra-small: calc(var(--text-base) * 0.75);
    --text-xs--line-height: calc(1 / 0.75);
    --text-small: calc(var(--text-base) * 0.875);
    --text-sm--line-height: calc(1.25 / 0.875);
    --text-large: calc(var(--text-base) * 1.125);
    --text-lg--line-height: calc(1.75 / 1.125);
    --text-extra-large: calc(var(--text-base) * 1.5);
    --text-xl--line-height: calc(1.75 / 1.5);

    // Border
    --radius: 0.625rem;
    --radius-extra-small: 0.25rem;
    --radius-small: calc(var(--radius) - 4px);
    --radius-medium: calc(var(--radius) - 2px);
    --radius-large: var(--radius);
}

[data-theme="dark"] {
    --background: #17171a;
    --foreground: #fafafa;
    --primary: #ffffff;
    --primary-foreground: #050505;
    --text-neutral: #dedede;
    --text-muted: #a2a2a2;
    --secondary: #ffffff;
    --secondary-foreground: #000000;
    --muted: #323232;
    --muted-foreground: #a2a2a2;
    --text-link: #8aadf7;
    --ring: #989898;

    --popover-focus-area: #161618;
    --popover: #1e2023;
    --popover-foreground: #fafafa;
    --border: lab(100% 0 0 / 0.1);
    --input: lab(100% 0 0 / 0.15);

    --accent: #535353;
    --accent-foreground: #f5f5f5;

    --product-add-bg: #ff7272;
    --product-add-foreground: #f99191;

    --product-buy-bg: #ff904f;
    --product-buy-foreground: #ffbc89;
}

[data-theme="midnight"] {
    color-scheme: dark;
    --background: #000000;
    --foreground: #fafafa;
    --primary: #3d5ac3;
    --primary-foreground: #ffffff;
    --text-neutral: #dedede;
    --secondary: #1c1c1c;
    --secondary-foreground: #ffffff;
    --muted: #323232;
    --muted-foreground: #a2a2a2;
    --text-link: #8aadf7;
    --ring: #989898;

    --popover: #13151b;
    --popover-foreground: #fafafa;
    --border: lab(100% 0 0 / 0.1);
    --input: lab(100% 0 0 / 0.15);

    --accent: #535353;
    --accent-foreground: #f5f5f5;

    --product-add-bg: #ff7272;
    --product-add-foreground: #f99191;

    --product-buy-bg: #ff904f;
    --product-buy-foreground: #ffbc89;
}
