.content-wrapper {
    z-index: 9999;
    position: absolute;
    pointer-events: none;
}

.content {
    display: flex;
    flex-direction: column;
    width: calc(var(--spacing) * 36);
    background-color: var(--popover);
    color: var(--text-neutral);
    overflow: hidden;
    padding: calc(var(--spacing) * 2);
    border-radius: var(--radius-small);
    border: 1px solid var(--border);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: scale(0.95) translateY(-6px);

    gap: var(--spacing);

    transition:
        opacity 200ms ease,
        transform 200ms ease,
        visibility 200ms ease;
}

.content[data-state="open"] {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: scale(1) translateY(0);
}

.content[data-state="closed"] {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: scale(0.95) translateY(-6px);
}

.trigger,
.content {
    cursor: pointer;
    user-select: none;
}

.seperator {
    background: var(--border);
    margin-inline: calc(var(--spacing) * -1);
    margin-block: var(--spacing);
    height: 1px;
}