.file-input {
    display: none;
}

.close-button {
    top: calc(var(--spacing) * 2);
    right: calc(var(--spacing) * 2);
    background-color: var(--background);
    border: none;
    color: var(--foreground);
    cursor: pointer;
    transition: color 0.3s ease;
    font-size: var(--text-large);
    width: calc(var(--spacing) * 7);
    height: calc(var(--spacing) * 7);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: calc(var(--spacing) * 1.5);

    svg {
        width: calc(var(--spacing) * 4);
        height: calc(var(--spacing) * 4);
    }

    &:hover {
        color: var(--foreground);
    }
}

// ---------------------
// * EDITOR POPUP STYLES
// ---------------------

.editor-header {
    width: 100%;
    margin-bottom: calc(var(--spacing) * 2);
    padding: calc(var(--spacing) * 4);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: calc(var(--spacing) * 7);
    h2 {
        margin: 0;
        font-size: var(--text-large);
        font-weight: bold;
        color: var(--text-neutral);
    }
    p {
        margin: 0;
        font-size: var(--text-small);
        color: var(--text-muted);
    }
}

.editor-body {
    width: 100%;
    position: relative;
    border-radius: calc(var(--spacing) * 1.5);
    padding-inline: calc(var(--spacing) * 4);
    overflow: hidden;
}

.upload-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--input);
    width: 100%;
    height: 160px;
    color: var(--text-neutral);
    border: none;
    padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
    border-radius: calc(var(--spacing) * 1.5);
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    font-size: var(--text-small);

    svg {
        width: calc(var(--spacing) * 6);
        height: calc(var(--spacing) * 6);
    }

    &:hover {
        background-color: color-mix(in oklab, var(--input) 90%, black);
    }
}

.upload-instructions {
    padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
    margin-top: calc(var(--spacing) * 2);
    width: 100%;
    text-align: left;
    font-size: var(--text-small);
    color: var(--text-muted);
}

.overlay {
    position: fixed;
    inset: 0;
    z-index: 9999;
    display: grid;
    place-items: center;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 200ms ease;
    pointer-events: all;
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        justify-content: center;
        background-color: var(--popover);
        border-radius: calc(var(--spacing) * 2);
        width: 100%;
        max-width: 30vw;
        min-width: 400px;

        border: 1px solid var(--border);
        scale: 0.8;
        transition: scale 200ms ease;
    }

    &[data-status="open"] {
        opacity: 1;
        .content {
            scale: 1;
        }
    }
}

// ---------------------
// * CROP TOOL STYLES
// ---------------------

.cropper-header {
    width: 100%;
    padding: calc(var(--spacing) * 4 );
    padding-bottom: calc(var(--spacing) * 2);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: calc(var(--spacing) * 7);
    h2 {
        margin: 0;
        font-size: var(--text-large);
        font-weight: bold;
        color: var(--foreground);
    }
    p {
        margin: 0;
        font-size: var(--text-small);
        color: var(--input);
    }
}

.cropper-content {
    width: 100%;
    position: relative;
    border-radius: calc(var(--spacing) * 1.5);
    padding-inline: calc(var(--spacing) * 4);
    overflow: hidden;
}

.cropper-wrapper {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;
}

.cropper {
    position: relative;

    width: 100%;
    max-width: 640px;
    aspect-ratio: 16 / 9;

    overflow: hidden;

    background: var(--muted);

    touch-action: none;
    overscroll-behavior: contain;

    user-select: none;
    cursor: grab;
}

.cropper:active {
    cursor: grabbing;
}

.cropper-image {
    position: absolute;
    max-width: none;
    max-height: none;
    transform: translate(-50%, -50%);
    pointer-events: none;
    user-select: none;
}

.cropper-overlay {
    position: absolute;
    inset: 0;

    pointer-events: none;
}

.cropper-selection {
    position: absolute;

    width: 50%;
    aspect-ratio: 1 / 1;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.58);

    pointer-events: none;
}

.cropper-controls {
    width: 70%;
    max-width: 120px;
}

.cropper-controls {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 calc(var(--spacing) * 1);

    input {
        --slider-progress: 0%;

        width: 100%;
        height: 20px;

        -webkit-appearance: none;
        appearance: none;

        background: transparent;
        outline: none;
        cursor: pointer;

        // * Chrome / Safari
        &::-webkit-slider-runnable-track {
            width: 100%;
            height: 5px;
            background: linear-gradient(
                to right,
                var(--primary) 0%,
                var(--primary) var(--slider-progress),
                var(--input) var(--slider-progress),
                var(--input) 100%
            );
            border-radius: 999px;
        }

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;

            width: calc(var(--spacing) * 3);
            height: calc(var(--spacing) * 3);

            margin-top: calc(var(--spacing) * -1);

            background: var(--background);
            border: calc(var(--spacing) * 0.5 ) solid var(--primary);
            border-radius: 50%;

            cursor: grab;

            transition:
                transform 120ms ease,
                box-shadow 120ms ease;
        }

        &:hover::-webkit-slider-thumb {
            transform: scale(1.1);
            box-shadow: 0 0 0 2px
                color-mix(in srgb, var(--primary) 15%, transparent);
        }

        &:active::-webkit-slider-thumb {
            cursor: grabbing;
            transform: scale(1.2);
        }

        // * Firefox
        &::-moz-range-track {
            width: 100%;
            height: 5px;
            background: var(--input);
            border-radius: 999px;
        }

        &::-moz-range-progress {
            height: 5px;
            background: var(--primary);
            border-radius: 999px;
        }

        &::-moz-range-thumb {
            width: calc(var(--spacing) * 3);
            height: calc(var(--spacing) * 3);

            background: var(--background);
            border: 2px solid var(--primary);
            border-radius: 50%;

            cursor: grab;

            transition:
                transform 120ms ease,
                box-shadow 120ms ease;
        }

        &:hover::-moz-range-thumb {
            transform: scale(1.15);
        }

        &:active::-moz-range-thumb {
            cursor: grabbing;
            transform: scale(1.2);
        }

        &:focus-visible::-webkit-slider-thumb {
            box-shadow: 0 0 0 4px
                color-mix(in srgb, var(--primary) 20%, transparent);
        }

        &:focus-visible::-moz-range-thumb {
            box-shadow: 0 0 0 4px
                color-mix(in srgb, var(--primary) 20%, transparent);
        }
    }
}

.cropper-uploadbar {
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(var(--spacing) * 2 );
    background-color: transparent;
    overflow: hidden;

    &::after {
        transition: all 0.3s ease;
    }

    &[data-uploading-state="started"]::after {
        content: "";
        position: absolute;
        inset: 0;
        background-color: var(--primary);
        animation: upload-progress 2s linear infinite;
    }
    &[data-uploading-state="ended"]::after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        inset: 0;
        background-color: var(--primary);
    }
}

@keyframes upload-progress {
    0% {
        left: -100%;
        width: 100%;
    }
    50% {
        left: 0;
        width: 100%;
    }
    100% {
        left: 100%;
        width: 100%;
    }
}

.cropper-footer {
    padding: calc(var(--spacing) * 4);
    width: 100%;
    padding-top: calc(var(--spacing) * 2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: calc(var(--spacing) * 2);

    --button-padding: calc(var(--spacing) * 2) calc(var(--spacing) * 2);
    font-size: var(--text-small);

    .reset-button {
        background-color: transparent;
        border: none;
        color: var(--text-neutral);
        cursor: pointer;
        transition: background-color 0.3s ease;
        padding: var(--button-padding);
        border-radius: calc(var(--spacing) * 1.5);

        &:hover {
            background-color: color-mix(in oklab, var(--input) 90%, black);
        }
    }

    .cropper-actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: calc(var(--spacing) * 2);

        --button-width: 80px;

        .cancel-button {
            background-color: color-mix(in oklab, var(--input) 40%, transparent);
            border: none;
            color: var(--text-neutral);
            cursor: pointer;
            transition: background-color 0.3s ease;
            padding: var(--button-padding);
            border-radius: calc(var(--spacing) * 1.5);
            width: var(--button-width);

            &:hover {
                background-color: color-mix(in oklab, var(--input) 70%, transparent);
            }
        }

        .save-button {
            background-color: var(--primary);
            border: none;
            color: var(--primary-foreground);
            cursor: pointer;
            transition: background-color 0.3s ease;
            padding: var(--button-padding);
            border-radius: calc(var(--spacing) * 1.5);
            width: var(--button-width);

            &:hover {
                background-color: color-mix(in oklab, var(--primary) 90%, black);
            }
        }
    }
}
