.postLayout{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: stretch;
}
.post-left-layout{
    max-width: 520px;
}
.feedLayout{
    max-width: 1080px;
    width: 100%;
}