.post-layout{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: stretch;
}
.post-left-layout{
    width: calc(var(--spacing) * 150);
}
.feed-layout{
    max-width: 1080px;
    width: 100%;
}

.post-popup-container{
    position: absolute;
    background-color: grey;
    width: 100%;
    height: 100%;
}