.postLayout{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: stretch;
}
.post-left-layout{
    width: calc(var(--spacing) * 150);
}
.feedLayout{
    max-width: 1080px;
    width: 100%;
}