.dialog-overlay {
    position: fixed;
    inset: 0;
    z-index: 9999;
    display: grid;
    place-items: center;

    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 200ms ease;
    pointer-events: all;

    &[data-status="open"] {
        opacity: 1;
    }
}

.dialog-content {
    ::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;
        z-index: 9999;
        pointer-events: none;
        background-color: transparent;
        transition: background-color 300ms ease;
    }
    &[data-interact="false"] {
        pointer-events: none;
        ::after {
            background-color: rgba(0, 0, 0, 0.05);
        }
    }

}