.authContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    box-sizing: border-box;
}

.form {
    width: 400px;
    border: 1px var(--border) solid;
    background-color: color-mix(in oklab, var(--muted) 20%, transparent);
    padding: calc(var(--spacing) * 6);
    border-radius: var(--radius-medium);
}

.wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 2rem;

    border: 1px solid var(--border);
    border-radius: 0.5rem;
    background-color: transparent;

    &:focus-within {
        border-color: var(--ring);
        box-shadow: 0 0 0 3px color-mix(in srgb, var(--ring) 50%, transparent);
    }
}


.inputField {
    flex: 1;
    min-width: 0;
    height: 100%;

    border: none;
    outline: none;
    background: transparent;
    padding-inline: calc(var(--spacing) * 2.5);
    font-size: 0.875rem;
}

.password-toggle {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 2rem;
    height: 100%;

    border: none;
    background: taransparent;
    cursor: pointer;
}

.btn-field, .submit{
    width: 100%;
    border-radius: var(--radius);
}

.submit {
    background-color: var(--primary);
    padding: calc(var(--spacing) * 2);
    margin-bottom: calc(var(--spacing) *4);
}