.layout {
    min-height: 100vh;
}

.container{
    min-height: 100%;
    flex-shrink: 1;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    flex-basis: auto;
    min-width: 0;
    min-height: 0;
    align-items: flex-start;
}
.content{
    width: 990px;
    flex-shrink: 1;
    flex-grow: 1;
}
.main {
    flex: 1;
    width: 660px;
    flex-shrink: 1;
    min-height: 100%;
    display: flex;
}

.rightLayout{
    width: 330px;
}