.navbar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100vh;
    top: 0;
    width: 278px;
    padding-left: calc(var(--spacing) * 4);
    background-color: cadetblue;
    position: sticky;
    .hidden{
        display: block;
    }
}
.navTop {
    padding: calc(var(--spacing) * 3);
}

.navMid {
    flex: 1;
    .flex{
        display: flex;
        width: 100%;
        padding: calc(var(--spacing) * 2);
        gap: var(--spacing);
        font-size: 20px;
    }
    ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
    }
}

.navBottom {
    // margin-top: auto;
    // padding: calc(var(--spacing) * 4);
    img {
        border-radius: calc(var(--spacing) * 12);
    }
}