.post-layout {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: var(--space-12);
}

.container-wrapper {
    flex: 1;
    max-width: 640px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    gap: var(--space-8);
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--background);
    padding-block: var(--space-12);
}

.leave-btn {
    display: grid;
    place-items: center;
    width: var(--size-32);
    height: var(--size-32);
    border-radius: var(--radius-round);

    background-color: var(--popover);
    transition: background-color 0.2s ease;

    cursor: pointer;

    &:hover {
        background-color: color-mix(in srgb, var(--popover) 90%, var(--popover-foreground));
    }

    &:active {
        background-color: color-mix(in srgb, var(--popover) 80%, var(--popover-foreground));
    }

    &:focus-visible {
        outline: 2px solid var(--primary);
        outline-offset: 2px;
        background-color: color-mix(in srgb, var(--popover) 90%, var(--popover-foreground));
    }

    svg {
        width: var(--size-16);
        height: var(--size-16);
        display: block;
    }
}

.context {
    font-size: var(--font-size-md);
    padding-inline: var(--space-20);
}
