.overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: color-mix(in oklab, var(--muted) 20%, transparent);
}
.content-layout {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: stretch;
}
.left-layout{
    width: calc(var(--spacing) * 150);
}
.layout{
    max-width: 1080px;
    width: 100%;
}

.main-post-container{
    display: flex;
    flex-direction: column;
    background-color: red;
}

.back-button {
    display: flex;
    flex-direction: row;
    
}