.overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: color-mix(in oklab, var(--muted) 20%, transparent);
}
.content-layout {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: stretch;
}
.left-layout{
    width: calc(var(--spacing) * 150);
}
.layout{
    max-width: 1080px;
    width: 100%;
}

.main-post-container{
    display: flex;
    flex-direction: column;
    background-color: var(--popover);
    border-left: 1px solid
            color-mix(in srgb, var(--foreground) 10%, transparent);
    border-right: 1px solid
            color-mix(in srgb, var(--foreground) 10%, transparent);
    }

.back-button {
    display: flex;
    flex-direction: row;
}
.back-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: calc(var(--spacing) * 4);
    padding-inline: calc(var(--spacing) * 2);
    padding-block: calc(var(--spacing) *1);

}
.leave-btn {
    padding-top: calc(var(--spacing)*1);
    align-items: center;
}

.context {
    padding-inline: calc(var(--spacing) * 4);
    padding-block: calc(var(--spacing) * 2);
}

.subject-tag{
    display: flex;
    padding-top: calc(var(--spacing) * 3);
    padding-left: calc(var(--spacing) * 6);
    gap: calc(var(--spacing) * 2);
    margin-top: calc(var(--spacing) * 4);
    margin-inline: calc(var(--spacing) * 2);
    flex-direction: row;
    list-style-type: none;
    border-top: 1px solid
            color-mix(in srgb, var(--foreground) 10%, transparent);
    
    li {
        border-radius: var(--radius-small);
        padding-inline: calc(var(--spacing) * 2);
        padding-block: calc(var(--spacing) * 1);
        font-size: calc(var(--text-small) * 0.9);
    }
}