.create-comment {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--space-12);
    position: relative;

    background-color: var(--popover);
    transition: background-color 0.3s ease;

    &:hover,
    &:focus-visible {
        background-color: color-mix(in srgb, var(--popover), var(--popover-foreground) 3%);
    }
}

.container {
    display: flex;
    flex-direction: column;
    gap: var(--space-8);
    padding-block: var(--space-12);
}

.profile-section {
    display: flex;
    flex-direction: row;
    gap: var(--space-8);
    padding-inline: var(--space-12);
}

.profile {
    flex-shrink: 0;
    img {
        border-radius: var(--radius-round);
    }
}

.content,
.text-container {
    width: 100%;
}

.content {
    resize: none;
}

.content-section {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    flex: 1;
}
.text-counter {
    position: absolute;
    bottom: var(--space-12);
    right: var(--space-12);
    font-size: var(--font-size-sm);
    color: var(--popover-foreground);
}

.text-container {
    flex: 1;
    .author-info {
        margin: 0;
        font-weight: var(--font-semibold);
        color: var(--popover-foreground);
    }
    textarea {
        font-size: var(--font-size-md);
        min-height: var(--text-line-height-md);
        max-height: calc(var(--text-line-height-md) * 5);
        line-height: var(--text-line-height-md);
        text-align: left;
        width: 100%;
        outline: none;
        resize: none;
        flex-grow: 1;
        border: none;
        display: flex;
        align-items: center;

        // scroll bar styles
        &::-webkit-scrollbar {
            width: 4px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: var(--popover-foreground);
            border-radius: var(--radius-round);
        }
        &::-webkit-scrollbar-track {
            background-color: var(--popover);
        }
    }
}

.button-group {
    display: flex;
}

.send-button {
    flex-shrink: 0;
    cursor: pointer;
    background: var(--primary);
    color: var(--primary-foreground);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-8);
    border-radius: var(--radius-round);

    height: var(--size-32);
    padding-inline: var(--space-8);

    transition: background-color 0.3s ease;

    img {
        width: var(--size-24);
        height: var(--size-24);
        margin-left: -1px; // shift for inaccuracy
    }

    span {
        font-size: var(--font-size-md);
        font-weight: var(--font-semibold);
    }

    &:hover {
        background-color: color-mix(in srgb, var(--primary) 75%, transparent);
    }

    &:active {
        background-color: color-mix(in srgb, var(--primary) 60%, transparent);
    }

    &:disabled {
        background-color: color-mix(in srgb, var(--primary) 40%, transparent);
        cursor: default;
    }

    &:focus-visible {
        outline: 2px solid var(--primary);
        outline-offset: 2px;
    }
}
