
.postgroup-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: start;
    justify-content: center;
    gap: var(--space-8);
    width: 100%;
    min-width: 0;
}