SERVICE_HOST = 0.0.0.0
SERVICE_PORT = 3000

REDIS_HOST = localhost
REDIS_PORT = 6379

POSTGRES_USER = postgres
POSTGRES_PASSWORD = your_password
POSTGRES_HOST = localhost
POSTGRES_PORT = 5432
POSTGRES_DB = your_database_name
POSTGRES_CONNECTION_POOL = 5

WORKER_ID = 1

#RUST_LOG=info
PRODUCTION = false
MEDIA_ROOT = ../../media
MEDIA_DRIVER = localhost
MEDIA_TEMP_ROOT = ../../temp