
.media-group {
    width: 100%;
    overflow:hidden;
}

.image-group-wrapper {
    position: relative;
    padding-inline: calc(var(--spacing) * 4);
    padding-left: calc(var(--spacing) * 8);
    width: 100%;
}


.image-group {
    width: 100%;
}

.image-group::-webkit-scrollbar {
    display: none;
}

.image-grid {
    display: flex;
    flex-wrap: nowrap;
    width: max-content;

    gap: calc(var(--spacing) * 2);

    margin: 0;
    padding: 0;
    list-style: none;

    transition: transform 280ms ease;
    will-change: transform;
}

.image-grid > * {
    flex: 0 0 auto;
}

.image-link {
    display: block;
    cursor: pointer;
}

.image-item {
    border-radius: var(--radius-small);
}

.media-controller {
    position: absolute;
    top: 50%;
    z-index: 10;

    width: var(--size-40);
    height: var(--size-40);

    transform: translateY(-50%);

    border: 0;
    border-radius: 50%;

    background: color-mix(in srgb, var(--background) 65%, transparent);
    color: var(--text-neutral);

    cursor: pointer;

    display: grid;
    place-items: center;

    svg {
        width: fit-content;
        height: var(--size-24);
    }
}

.media-controller-left {
    left: var(--space-12);
    // adjust to feels centered
    svg {
        transform: translateX(-1px);
    }
}

.media-controller-right {
    right: var(--space-12);
    svg {
        transform: translateX(1px);
    }
}