.overflow-hid {
    position: relative;
    display: block;
    overflow: hidden;
}

.absolute-frame {
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.image-frame {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--radius);
    object-fit: contain;
}
.image-grid{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
}
.aspect-video{
    aspect-ratio: 16 / 9;
}

.aspect-square{
    aspect-ratio: 1 / 1 ;
}

.aspect-portrait{
    aspect-ratio: 4 /5;
}