.container {
    background-color: var(--popover);
    width: 100%;
    border-radius: var(--radius-sm);

    display: flex;
    flex-direction: column;
    gap: var(--space-12);

    transition: background-color 0.2s ease;

    &:hover {
        background-color: color-mix(in srgb, var(--popover), white 3%);
    }
    .header,
    .profile {
        display: flex;
        align-items: center;
    }
    .profile {
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
    }

    .option {
        align-items: center;
    }

    .header {
        padding-inline: calc(var(--spacing) * 4);
        padding-top: calc(var(--spacing) * 4);
        padding-bottom: calc(var(--spacing) * 2.5);
        margin-bottom: calc(var(--spacing) * 2);
        justify-content: space-between;
    }
    .main-container {
        display: flex;
        flex-direction: column;
    }
}

.separator {
    height: 1px;
    background-color: var(--muted);
    width: 100%;
}

.post-date {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: calc(var(--text-small) * 0.9);
    opacity: 0.75;
}

.user-info {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: visible;
    overflow-x: visible;
    position: static;
    align-items: stretch;
    align-self: auto;
    justify-content: flex-start;
    flex-grow: 1;
}
.is-collapsed {
    display: -webkit-box;
    line-clamp: 5;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.read-more-btn {
    background: transparent;
    border: none;
    color: #3498db;
    cursor: pointer;
    font-weight: 600;
    padding: 0;
    margin-top: 5px;
}

.text-container {
    padding-inline: calc(var(--spacing) * 4);
    padding-left: calc(var(--spacing) * 8);
    display: -webkit-box;
    line-height: 20px;
    word-wrap: break-word;
    min-width: 0;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: calc(var(--spacing) * 2);
    font-size: 14px;
    font-weight: 400;
    .content {
        display: block; /* Must be block or box for scrollHeight to work */
        line-height: 1.5;
        transition: max-height 0.3s ease; /* Optional: smooth opening */
        z-index: 0;
    }
}