.container{
    background-color: grey;
    padding: calc(var(--spacing) * 2);
    min-width: (var(--card-post-dense) 100%);
    max-width: 100%;
}
.content {
    display: block; /* Must be block or box for scrollHeight to work */
    line-height: 1.5;
    transition: max-height 0.3s ease; /* Optional: smooth opening */
}

.is-collapsed {
    display: -webkit-box;
    line-clamp: 5;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.read-more-btn {
    background: transparent;
    border: none;
    color: #3498db;
    cursor: pointer;
    font-weight: 600;
    padding: 0;
    margin-top: 5px;
}

// .text-container{
//     display: -webkit-box;
//     line-height: 20px;
//     word-wrap: break-word;
//     position: relative;
//     min-width: 0;
//     -webkit-box-orient: vertical;
//     overflow: hidden;

// }
.bottom-container{
    display: flex;
    justify-content: space-between;    
    .interaction{
        display: flex;
        gap: calc(var(--spacing) * 4);
    }
}

.header, .profile{
    display: flex;
    align-items: center;
}
.header{
    justify-content: space-between;
}

.avatar {
    border-radius: var(--radius-medium);
    overflow: hidden;
    width: calc(var(--spacing) * 12) !important;
    height: calc(var(--spacing) * 12) !important;
    position: relative;

    .textarea {
        height: auto;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}